.wrapper {
  height: 100%;
  max-width: 100% !important;
  background: #56ccf2;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.background {
  position: absolute;
  z-index: 0;
  margin: 0px 0px 0px 0px;
  height: 75vh;
  width: 100vw;
}
#arrow {
  width: 18.67px;
  height: 18.67px;
  margin: auto 10px auto 10px auto;
}
#user-icon {
  width: 28px;
  height: 28px;
}
.card-image-wrapper {
  background-image: url('../journey/assets/Polygon.png');
  background-size: contain;
  background-repeat: no-repeat !important;
  margin: auto 10px auto 10px;
  border: none;
  height: 74px;
  width: 75px;
  background-color: transparent;
}
.card-image-wrapper:hover {
  background-image: url('../journey/assets/PolygonHover.png');
  background-size: contain;
  background-repeat: no-repeat !important;
  margin: auto 10px auto 10px;
  border: none;
  height: 74px;
  width: 75px;
  background-color: transparent;
}
.role-wrapper {
  background: #f6f6f5 !important;
  border: 1px solid #565758 !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  width: 608px;
  height: 154px;
  margin: auto auto 20px auto;
  display: flex;
}

.card-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #8692a6;
  margin: auto;
}
Button {
  width: 250px;
  height: 62px;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  height: 120%;
}
